<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <form [formGroup]="recipeEditForm" (ngSubmit)="onSubmit()">
                <legend *ngIf="newRecipe">New Recipe</legend>
                <legend *ngIf="!newRecipe">Edit Recipe</legend>
                <div class="form-group">
                    <label for="">Name</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="name" 
                        formControlName="name">
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="description" 
                        formControlName="description">
                </div>
                <div class="form-group">
                    <label for="">Ingredients</label>
                    <br><br>
                    <button class="btn btn-secondary" (click)="addIngredient()">Add Ingregient</button>
                    <div 
                        formArrayName="ingredients"
                        *ngFor="let ingredient of getIngredientsControls(); let i = index">
                        <div class="row" >
                            <div [formGroupName]="i">                            
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">                                
                                <label>Name</label>
                                <input 
                                    class="form-control"
                                    formControlName="ingName">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">                                
                                <label>Quantity</label>
                                <input 
                                    class="form-control"
                                    formControlName="ingQuantity">
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


