<!-- Recipe Manage DDL -->
<div class="row">
    <div class="col-xs-8">
        <h3>{{ recipeDetail.name }}</h3>
    </div>
    <div class="col-xs-4">
        <div class="dropdown" dropdownToggler>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownmenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li class="dropdown-item" (click)="addToShop(recipeDetail.ingredients)"><a href="#">Add to Shop</a></li>
                <li class="dropdown-item" ><a href="#">Edit Recipe</a></li>
                <li class="dropdown-item" ><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<hr />

<!-- Information -->
<div class="row">
    <div class="col-xs-12">
        <h4>
            {{ recipeDetail.description }}
        </h4>
    </div>
</div>

<!-- Ingredients -->
<div class="row">
    <div class="col-xs-12">
        <h4>
            Ingredients
        </h4>
    </div>
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipeDetail.ingredients">{{ ingredient.name }} - {{ ingredient.quantity }} {{ ingredient.metric }}</li>
        </ul>
    </div>
</div>

<hr />

<!-- Procedure -->
<div class="row">
        <div class="col-xs-12">
            <h4>
                Procedure
            </h4>
        </div>
</div>
