<div class="row" style="margin:auto">
    <div class="col-xs-12">
        <!-- Form for Ingredient Add, Delete and Clear -->
        <form>
            <!-- Form Inputs -->
            <div class="row">
                <div class="col-xs-4 form-group">
                    <label for="name">Name</label>
                    <input type="text" name="ingredientInp" class="form-control" #itemNameInput/>
                </div>
                <div class="col-xs-2 form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" name="quantityInp" class="form-control" #itemQuantityInput/>
                    </div>
            </div>
            <!-- Form buttons -->
            <div class="row">
                <div class="col-xs-6">
                        <button class="btn btn-group btn-success" type="submit" (click)="addItem()">Add</button>
                        <button class="btn btn-group btn-danger"  type="button">Delete</button>
                        <button class="btn btn-group btn-primary" type="reset">Clear</button>
                </div>
            </div>

        </form>
    </div>
</div>